<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
    
</head>

<body class="headerBody">
    <div class="header">
        <form action="/" method="get">
            <button class="astext" ><h1 class="home">
                Aziz's Blog
            </h1></button>
            
        </form>
    </div>
</body>

</html>