.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83B4FF;
}

.headerBody {
    margin: 0;
}

.home {
    font-family: cursive;
    color: #FDFFE2;
    font-size: 3rem;
}

.astext {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #5A72A0;
}

.grid-item {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroTitle {
    font-size: 4rem;
    font-family: "Gill Sans", sans-serif;
    color: #FDFFE2;
}

.block {
    display: block;
    color: #FDFFE2;
    font-size: 3rem;
    font-family: "Gill Sans", sans-serif;
}

.newButton {
    font-size: 2.5rem;
    margin: 5px;
    padding: 10px;
    background-color: #FDFFE2;
    border-radius: 10%;
    border: #FDFFE2;
    color: #1A2130;
    font-family: "Gill Sans", sans-serif;
    cursor: pointer;
}

.newBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A72A0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.grid2 {
    grid-column: span 2;
}

#bodyId {
    height: 300px;
    font-size: 14pt;
    margin-top: 5px;
}

input {
    font-size: 14pt;
}

select {
    font-size: 14pt;
    width: 100%
}

#titleId {
    width: 100%;
}

.newBlogForm {
    padding-bottom: 50px;
}

.blogsList {
    height: auto;
    background-color: #1A2130;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogItem {
    background-color: #fdffe2f7;
    margin: 40px;
    width: 50%;
    padding-left: 20px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius: 25px;
}

h4 {
    color: #1A2130;
    font-family: american typewriter, serif;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.blogAuthor {
    margin-top: 0;
    grid-column: span 2;
    font-family: american typewriter, serif;
    color: #1a2130a7;
    font-size: 0.8rem;
}

.blogBody {
    grid-column: span 2;
    font-family: "Gill Sans", sans-serif;
    color: #1A2130;
    font-size: 1.2rem;
    margin: 0;
    margin-right: 4px;
}

.emptyDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-family: american typewriter, serif;
    font-size: 1.5rem;
    color: #FDFFE2;

}

.hrBlog {
    grid-column: span 2;
    border: none;
    background: linear-gradient(to right, #1A2130, #FDFFE2, #1A2130);
    height: 6px;
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 25%;
}

.blogButtons {
    grid-column: span 2;
    display: flex;
    justify-content: end;
}

.editButton {
    padding: 5px 15px;
    color: white;
    border-radius: 20%;
    background-color: orange;
    border: 0;
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
    margin: 10px;
}

.removeButton {
    padding: 5px 15px;
    color: white;
    border-radius: 20%;
    background-color: red;
    border: 0;
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
    margin: 10px;
}

.btn {
    cursor: pointer;
}

.footer {
    background-color: #FDFFE2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A2130;
    margin: 0;
    height: 100px;
}

.footer p {
    margin: 0;
    font-size: 1.5rem;
    font-family: cursive;
}

@media (max-width: 450px) {
    .header {
        display: block;
        padding-left: 20px ;
    }

    .hero {
        display: block;
    }
    .heroTitle{
        margin-top: 0;
        display: block;
        padding-left: 40px;
        padding-top: 20px;
        font-size: 2rem;
    }
    h3{
        padding-left: 40px;
        padding-top: 20px;
        font-size: 2rem;
    }
    .newButton{
        padding: 4px;
        margin-left: 30px;
    }

    .grid-item {
        display: block;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .grid {
        display: block;
    }

    .newBlog {
        display: block;
        padding-left: 7px;
    }

    textarea {
        width: 90%;
    }

    select {
        width: 90%;
    }

    #titleId {
        width: 90%;
    }
    .blogsList{
        display: block;
        padding-bottom: 15px;
    }
    .blogItem{
        display: block;
        width: 80%;
        margin-bottom: 0;
    }
    .blogButtons{
        display: block;
    }
    .footer{
        display: block;
    }
    h2{
        margin-top: 0;
    }
}
